In [1]:
import pandas as pd
import numpy as np

# Задание 1. Базовое изучение

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
# создаю нужный датафрейм с названиями столбцов
horse_info = pd.read_csv('horse_data.csv', na_values = '?')
horse_info.columns = (['surgery',                             
                       'Age',                                 
                        'Hospital Number',                   
                       'rectal temperature',                   
                        'pulse',                              
                       'respiratory rate',                    
                        'temperature of extremities',         
                       'peripheral pulse',                     
                        'mucous membranes',                 
                       'capillary refill time',              
                        'pain',                               
                       'peristalsis',                          
                        'abdominal distension',                
                       'nasogastric tube',                   
                        'nasogastric reflux',                  
                       'nasogastric reflux PH',           
                        'rectal examination',                
                       'abdomen',                              
                        'packed cell volume',                   
                       'total protein',                         
                        'abdominocentesis appearance',         
                       'abdomcentesis total protein',           
                        'outcome',                              
                       'surgical lesion?',                      
                        'type of lesion',                       
                       '25',                                    
                        '26',                                   
                       'cp_data'])  
horse_info

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion,25,26,cp_data
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
295,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
296,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
297,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
298,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [3]:
# выбираю необходимые стобцы
horse_table = horse_info[['surgery', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'peripheral pulse', 'pain', 'outcome']]
horse_table

,surgery,Age,rectal temperature,pulse,respiratory rate,peripheral pulse,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,1.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,NaN,120.0,70.0,NaN,2.0,3.0
295,2.0,1,37.2,72.0,24.0,2.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,3.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [4]:
# основная информация
horse_table.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,peripheral pulse,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,230.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.013043,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.042672,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,1.500000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

# Задание 2. Работа с выбросами

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [5]:
# нахожу выбросы для столбца возраста через межквартильный размах
q1 = horse_table.Age.quantile(0.25)
q3 = horse_table.Age.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_table[horse_table.Age.between(lower_bound, upper_bound, inclusive=True)]
pd.concat([horse_table, remove_outliers]).drop_duplicates(keep=False)

# Скорее всего, это ошибка ввода данных, т.к. для возраста может быть только два значения: 1 = Adult horse 2 = Young (< 6 months)
# Если в задаче этот стобец будет необходим, то мы не сможем работать с такими данными
# Тогда придется их заменить или не учитывать при рассчете, если остальной информации будет достаточно

,surgery,Age,rectal temperature,pulse,respiratory rate,peripheral pulse,pain,outcome
2,1.0,9,39.1,164.0,84.0,1.0,2.0,2.0
8,2.0,9,38.3,90.0,NaN,NaN,5.0,1.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
22,1.0,9,38.3,130.0,60.0,3.0,2.0,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
54,1.0,9,38.6,160.0,20.0,NaN,3.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
74,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
81,1.0,9,38.1,100.0,80.0,1.0,3.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
108,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
134,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
190,2.0,9,NaN,100.0,44.0,1.0,4.0,1.0
211,1.0,9,38.9,120.0,30.0,3.0,3.0,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
243,1.0,9,38.2,124.0,88.0,3.0,2.0,1.0
251,1.0,9,38.8,124.0,36.0,1.0,2.0,2.0
254,1.0,9,38.8,184.0,84.0,NaN,4.0,2.0
261,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
274,1.0,9,38.8,150.0,50.0,3.0,5.0,2.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [6]:
# температура
q1 = horse_table['rectal temperature'].quantile(0.25)
q3 = horse_table['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_table[horse_table['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([horse_table, remove_outliers]).drop_duplicates(keep=False)

# Видим два показателя высокой температуры и один низкой. 
# Скорее всего, это естественные выбросы, поэтому трогать их не будем

,surgery,Age,rectal temperature,pulse,respiratory rate,peripheral pulse,pain,outcome
4,2.0,1,NaN,NaN,NaN,1.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,NaN,NaN,2.0
7,2.0,1,NaN,80.0,36.0,4.0,4.0,3.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
273,1.0,1,NaN,76.0,NaN,3.0,NaN,3.0
280,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
292,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
294,1.0,1,NaN,120.0,70.0,NaN,2.0,3.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [7]:
# пульс
q1 = horse_table.pulse.quantile(0.25)
q3 = horse_table.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_table[horse_table.pulse.between(lower_bound, upper_bound, inclusive=True)]
pd.concat([horse_table, remove_outliers]).drop_duplicates(keep=False)

# Судя по документации, нормальный показатель пульса - до 40 ударов
# На результаты выше этого показателя нужно смотреть по ситуации.
# Это могут быть естественные вбросы из-за болезни,но может быть и ошибка.

,surgery,Age,rectal temperature,pulse,respiratory rate,peripheral pulse,pain,outcome
2,1.0,9,39.1,164.0,84.0,1.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,1.0,2.0,1.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
54,1.0,9,38.6,160.0,20.0,NaN,3.0,2.0
57,1.0,1,NaN,NaN,20.0,3.0,5.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
114,2.0,1,NaN,NaN,40.0,1.0,3.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
125,1.0,1,38.7,NaN,NaN,1.0,5.0,1.0
150,1.0,1,39.3,NaN,NaN,3.0,4.0,2.0
158,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
173,2.0,1,NaN,NaN,NaN,4.0,4.0,2.0
203,1.0,1,39.2,NaN,23.0,1.0,4.0,1.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
254,1.0,9,38.8,184.0,84.0,NaN,4.0,2.0
274,1.0,9,38.8,150.0,50.0,3.0,5.0,2.0

In [8]:
# частота дыхания
q1 = horse_table['respiratory rate'].quantile(0.25)
q3 = horse_table['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_table[horse_table['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([horse_table, remove_outliers]).drop_duplicates(keep=False)

# Нормальные показания - от 8 до 10
# Скорее всего, показатели 84 и 70 это ошибки

,surgery,Age,rectal temperature,pulse,respiratory rate,peripheral pulse,pain,outcome
2,1.0,9,39.1,164.0,84.0,1.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,1.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,NaN,NaN,2.0
8,2.0,9,38.3,90.0,NaN,NaN,5.0,1.0
28,2.0,1,37.7,48.0,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
270,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
273,1.0,1,NaN,76.0,NaN,3.0,NaN,3.0
280,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
283,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
294,1.0,1,NaN,120.0,70.0,NaN,2.0,3.0

In [9]:
# периферический пульс
q1 = horse_table['peripheral pulse'].quantile(0.25)
q3 = horse_table['peripheral pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_table[horse_table['peripheral pulse'].between(lower_bound, upper_bound, inclusive=True)]
pd.concat([horse_table, remove_outliers]).drop_duplicates(keep=False)

# Здесь только пропуски

,surgery,Age,rectal temperature,pulse,respiratory rate,peripheral pulse,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,NaN,60.0,NaN,NaN,NaN,2.0
8,2.0,9,38.3,90.0,NaN,NaN,5.0,1.0
10,2.0,1,39.1,72.0,52.0,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...
279,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
282,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
294,1.0,1,NaN,120.0,70.0,NaN,2.0,3.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

# Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [10]:
for col in horse_table.columns:
    pct_missing = horse_table[col].isna().mean()
    print(f'{col} - {pct_missing :.1%}')
    
# пропуски есть во всех стобцах, кроме столбца с возврастом

surgery - 0.3%
Age - 0.0%
rectal temperature - 20.1%
pulse - 8.0%
respiratory rate - 19.4%
peripheral pulse - 23.1%
pain - 18.4%
outcome - 0.3%

In [11]:
# в столбце с операциями я решила поставить замену на 0
# т.к. мы не можем точно предсказать была операция или нет, а ложное значение может испортить результат при решении вопросов
# та же ситуация с исходом - мы не знаем, умерла лошадка или нет

filled_table = horse_table.fillna({'surgery':0,'outcome':0})

In [12]:
# Столбцы с температурой, пульсом и дыханием заполняю медианой 
temp = filled_table['rectal temperature'].fillna(filled_table['rectal temperature'].median())
pulse = filled_table['pulse'].fillna(filled_table['pulse'].median())
resp = filled_table['respiratory rate'].fillna(filled_table['respiratory rate'].median())
per_pulse = filled_table['peripheral pulse'].fillna(filled_table['peripheral pulse'].median())

In [13]:
# допускаю, что шкала боли может быть связана с температурой
# делаю группировку соответственно 
fill_median = filled_table
fill_median = fill_median.pain.fillna(filled_table.groupby('rectal temperature').pain.transform('median'), inplace = True)